
<div class="text-dark footer-basic" style="padding: 0px;">
    <footer class="text-dark" style="background-color: #222222;">
        <ul class="list-inline text-light">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
        </ul>
        <p class="copyright">ACME CORP. © 2020</p>
    </footer>
</div>