<div class="text-dark footer-basic" style="padding: 0px;">
    <footer class="text-dark" style="background-color: #222222;">
        <ul class="list-inline text-light">
            
        </ul>
        <p class="copyright">ACME CORP. © 2020</p>
    </footer>
</div>