<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>  
    <form method="post">
        <p>
        Email: <input name="email" type="text" size="35">
        </p>
        <p>
        Password: <input name="password" type="password" size="35">
        </p>
        <input type="submit" value="Login">
    </form>
</body>
</html>