<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>New Bookmark - ACME</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/home_footer.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet" href="css/new_bookmark.css">
    </head>
    
    <body>
<!-------------navigation bar------------------>
        <%if session[:logged_in] %>
          <%= erb :user_header %>
        <% else %>
           <%= erb :home_header %>
        <% end %>
        
        <!--BODY-->
 
        <div class="bookmark-dark" style="height: 790px;">
            <form  action="/addBookmark" method="post" style="margin: 0px;height: 321px;width: 493px;margin-top: -70px;">
                <h2 class="sr-only">Login Form</h2>
                <div class="form-group"><input class="form-control" type="text" name="bookmark_name" placeholder="Enter the name of the bookmark" required="" maxlength = "40"></div>
                <div class="form-group"><input class="form-control" type="text" name="link" placeholder="Enter the bookmark URL" required="" inputmode="url"></div>
                <div class="form-group"><textarea class="form-control" rows="4" placeholder="Enter a bookmark description..." name="description" required="" maxlength="100"></textarea></div>
                <div class="form-group"><button class="btn btn-secondary btn-block" type="reset" style="width: 176px;">Reset Form</button>
                    <button class="btn btn-primary btn-block" type="submit" style="width: 176px;margin: 235px;margin-top: -38px;margin-right: 130px;height: 38px;padding: 0px;">Submit</button></div>
            </form>
        </div>
<!------------------------footer---------------->
        
        <%= erb :home_footer %>
       
 
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="assets/js/script.min.js"></script>
    </body>
</html>