<form method="post">
    <div id="sfbox">
        <div id="searchbar">
            <input type="search" placeholder="Find a bookmark..." name="search">
            <button type="submit" id="search">Search</button>
        </div>

        <div id="options">
            
            <% @tags_list.each do |tag| %>
                
            <div id="filter-option">
                <input type="checkbox" name=<%= "tags[tag" + (@tags_list.find_index(tag) + 1).to_s + "]" %> value="<%= tag[1] %>">
                <label for=<%= "tag" + (@tags_list.find_index(tag) + 1).to_s %>><%= tag[1] %></label><br>
            </div>
            
            <% end %>
         
        </div>
    </div>
</form>
