<form method="post">
    <div id="sfbox">
        <div id="searchbar">
            <input type="search" placeholder="Find a bookmark..." name="search">
            <button type="submit" id="search">Search</button>
        </div>

        <div id="options">
            
            <% @tags_list.each do |tag| %>
                
            <div id="filter-option">
                <input type="checkbox" name=<%= "tags[tag" + (@tags_list.find_index(tag) + 1).to_s + "]" %> value="<%= tag[1] %>">
                <label for=<%= "tag" + (@tags_list.find_index(tag) + 1).to_s %>><%= tag[1] %></label><br>
            </div>
            
            <% end %>
            
            <!--
            <div id="filter-option">
                <input type="checkbox" id="tag1" name="tags[tag1]" value="finance">
                <label for="tag1">finance</label><br>
            </div>
            <div id="filter-option">
                <input type="checkbox" id="tag2" name="tags[tag2]" value="hr">
                <label for="tag1">hr</label><br>
            </div>
            <div id="filter-option">
                <input type="checkbox" id="tag3" name="tags[tag3]" value="research">
                <label for="tag3">research</label><br><br>
            </div>
            <div id="filter-option">
                <input type="checkbox" id="tag4" name="tags[tag4]" value="development">
                <label for="tag4">development</label><br><br>
            </div>
            <div id="filter-option">
                <input type="checkbox" id="tag5" name="tags[tag5]" value="outreach">
                <label for="tag5">outreach</label><br><br>
            </div>
            <div id="filter-option">
                <input type="checkbox" id="tag6" name="tags[tag6]" value="advertising">
                <label for="tag6">advertising</label><br><br>
            </div>
            -->
        </div>
    </div>
</form>
