<!-- user-header.erb -->

<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
    <div class="container"><a class="navbar-brand" href="/index" style="font-family: Montserrat, sans-serif;">ACME CORP.</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href= "/favourites" >Favourites</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/history">History</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/new_bookmark">New Bookmark</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/new_feedback">Feedback</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/contact">Contact</a></li>
                
            </ul>
            <% if session[:logged_in] %>
                <a class="btn btn-primary" role="button" style="margin-right: 20px;" href="/my_account">MY ACCOUNT</a>
                <a class="btn btn-primary" role="button" href="/logout">LOG OUT</a>            
            <% else %>
                <a class="btn btn-primary" role="button" style="margin-right: 20px;" href="/login">LOG IN</a>
                <a class="btn btn-primary" role="button" href="/signup">SIGN UP</a>
            <% end %>
        </div>
    </div>
</nav>