.new_bookmark_form {
    margin: 500px;
    width:80%;
    padding:20px;
    margin: 100px 80px 80px 80px;
    background-color:#1e2833;
    border-radius:4px;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,.2);
    text-align:center;
}

.new_bookmark_body { 
    height:1000px;
    background:url(../images/star-sky.jpg) #475d62;
    background-size:cover;
    position:relative;
}