     #rating {
  border: 0;
  background: transparent;
  font-size: 1.5em;
  margin-right: 8px;
  padding: 0px;
         
}

#rating:hover,
#rating:hover + button,
#rating:hover + button + button,
#rating:hover + button + button + button,
#rating:hover + button + button + button + button {
  
  color: #17a2b8 !important;
}
       .stars{display: flex;
  flex-flow: row-reverse;}